.app {
  background: linear-gradient(
    180deg,
    rgba(50, 94, 189, 0.914),
    rgba(25, 107, 138, 0.779) 60%,
    rgba(0, 172, 255, 0.32)
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home__screen {
  color: #fff;
  width: 100%;
  height: 100%;
  &__bottom {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
